
html
  head
    title #{title}
    link(rel='stylesheet', href='/dist/css/style.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet')
    script(src="/dist/js/index.js")

  body
    main
        block header

        block content
